.top-row{
    display: flex;
    justify-content: space-between;
}
h1,h2{
    margin: 0;
    padding: 0;
}
.subject{
    font-size: 24px;
    line-height: 28px;
    color: rgba(0, 0, 0, 0.53);
    padding-top: 10px;
}
.description{
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;

    color: rgba(0, 0, 0, 0.55);
    margin-top: 25px;
}
.nav-panel{
    display: flex;
    width: 100%;
}
.panel-item{
    font-size: 24px;
    width: 50%;
    color: rgba(0, 0, 0, 0.4);
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    cursor: pointer;
}
.panel-item-active{
    color: #99BCFF;
    border-bottom: 1px solid #99BCFF;
}
.sections{
    margin-top: 40px;
}