.courceListTable {
    width: 100%;
    border: none;
    margin-bottom: 20px;
}
.courceListTable thead th {
    font-weight: bold;
    text-align: left;
    border: none;
    padding: 10px 15px;
    background: #d8d8d8;
    font-size: 14px;
}
.courceListTable thead tr th:first-child {
    border-radius: 8px 0 0 8px;
}
.courceListTable thead tr th:last-child {
    border-radius: 0 8px 8px 0;
}
.courceListTable tbody td {
    text-align: left;
    border: none;
    padding: 10px 15px;
    font-size: 14px;
    vertical-align: top;
}
.courceListTable tbody tr:nth-child(even){
    background: #f3f3f3;
}
.courceListTable tbody tr td:first-child {
    border-radius: 8px 0 0 8px;
}
.courceListTable tbody tr td:last-child {
    border-radius: 0 8px 8px 0;
}