<template>
     <div>
        <div class="top-row">
           <div>
               <h1>{{ data.name }}</h1>
               <h2 class="subject">{{ data.subject }}</h2>
           </div>

        </div>
        <div class="description">
            <p>
                {{ data.description }}
            </p>
        </div>
        <!-- <div class="nav-panel">
            <div class="panel-item" :class="{'panel-item-active': sections.tasks}" @click="changeSection('tasks')">Tasks</div>
            <div class="panel-item" :class="{'panel-item-active': sections.members}" @click="changeSection('members')">Members</div>
        </div> -->
        <div class="sections">
            <section>
                <div v-for="task in tasks" :key="task._id">
                    <student-task-item :task="task" :course="data.teacher"></student-task-item>
                    <hr>
                </div>
            </section>
        </div>
    </div>
</template>

<script>
    import { createNamespacedHelpers } from 'vuex'
    const { mapGetters, mapActions } = createNamespacedHelpers('course')
    import StudentTaskItem from './taskItemStudent.vue'


    export default{
        name: "coursePageStudent",
        components: {
            StudentTaskItem
        },
        data(){
            return{
                sections: {
                    tasks: true,
                    members: false
                },
                tasks: []
            }
        },
        computed: {
            ...mapGetters(['getCourseData']),
            data(){
                return this.getCourseData(this.$route.params.ID)
            },
        },
        methods: {
            ...mapActions(['fetchTasks']),
            changeSection(section){
                for (let s in this.sections) {
                    this.sections[s] = false
                }
                this.sections[section] = true
            }
        },
        async mounted(){
            this.tasks = await this.fetchTasks(this.$route.params.ID)
        }
    }
</script>


<style scoped src="@/assets/styles/coursePage.css"></style>