<template>
    <div>
        <div class="top-row">
           <div>
               <h1>{{ data.name }}</h1>
               <h2 class="subject">{{ data.subject }}</h2>
           </div>
           <div>
               <h2>{{ data.code }}</h2>
               <span class="subject">code</span>
           </div>
        </div>
        <div class="description">
            <p>
                {{ data.description }}
            </p>
        </div>
        <!-- <div class="nav-panel">
            <div class="panel-item" :class="{'panel-item-active': sections.tasks}" @click="changeSection('tasks')">Tasks</div>
            <div class="panel-item" :class="{'panel-item-active': sections.members}" @click="changeSection('members')">Members</div>
        </div> -->
        <div class="sections">
            <section>
                <task-list :courseID="$route.params.ID"></task-list>
            </section>
            <!-- <section v-show="sections.members">
                <members-list></members-list>
            </section> -->
        </div>
    </div>
</template>
<script>
    import { createNamespacedHelpers } from 'vuex'
    const { mapGetters } = createNamespacedHelpers('course')
    import TaskList from './tasksList.vue'
   
    export default {
        name: "coursePage",
        components: {
            TaskList,
     
        },
        data(){
            return{
                sections: {
                    members: false,
                    tasks: true
                }
            }
        },
        computed: {
            ...mapGetters(['getCourseData']),
            data(){
                return this.getCourseData(this.$route.params.ID)
            }
        },
        methods: {
            changeSection(section){
                for (let s in this.sections) {
                    this.sections[s] = false
                }
                this.sections[section] = true
            }
        }

    }
</script>
<style scoped src="@/assets/styles/coursePage.css"></style>
   
