<template>
    <div>
        <h1>Create a new course</h1>
        <div>
            <form @submit.prevent="addCourse()">
                <div class="form-wrap">
                    <div class="form-row">
                        <input type="text" v-model="name" id="name" placeholder="Course name" required>
                    </div>   
                    <div class="form-row">
                        <input type="text" v-model="subject" id="subject" placeholder="Subject" required>
                    </div> 
                    <div class="form-row">
                        <textarea cols="30" rows="3" v-model="description" id="description" placeholder="Description"></textarea>
                    </div>
                    <div>
                        <span id="error">{{ error }}</span>
                    </div>
                    <div>
                        <button class="form-btn" id="crate-btn">Create</button>
                    </div>
                </div>                      
            </form>
        </div>
    </div>
</template>
<script>
    import { createNamespacedHelpers } from 'vuex'
    const { mapState, mapActions } = createNamespacedHelpers('course')
    export default {
        name: "coursesList",
        data(){
            return{
                name: '',
                subject: '',
                description: ''
            }
        },
        computed:{...mapState(['error'])},
        methods: {
            ...mapActions(['createCourse']),
            async addCourse(){
                await this.createCourse({name: this.name, subject: this.subject, description: this.description})
                if(this.error == '') return this.$router.push({name: "CoursesList"})
            }
        }
    }
</script>
<style scoped src="@/assets/styles/appForms.css"></style>

