<template>
   <div>
        <h1>Join course</h1>
        <div>
            <form @submit.prevent="submit()">
                <div class="form-wrap">
                    <div class="form-row">
                        <input type="text" v-model="code" placeholder="Code" required>
                    </div>   
                    <div>
                        <span id="error">
                            {{ error }}
                        </span>
                    </div>
                    <div>
                        <button class="form-btn" id="crate-btn">Join</button>
                    </div>
                </div>                      
            </form>
        </div>
    </div>
</template>

<script>
    import { createNamespacedHelpers } from 'vuex'
    const { mapState, mapActions } = createNamespacedHelpers('course')
    export default{
        name: "joinCourse",
        data(){
            return{
                code: ''
            }
        },
        computed: {
            ...mapState(['error'])
        },
        methods: {
            ...mapActions(['join']),
            async submit(){
                if(this.code == '') return

                const response = await this.join(this.code)

                if(this.error == ''){

                    this.$router.push({name: "CoursesListStudent"})

                }
            }
        }
    }
</script>
<style scoped src="@/assets/styles/appForms.css"></style>