<template>
    <div>
        <div class="button-row">
            <div class="top-btns">
                <button class="addTaskBtn" @click="createTask()">
                    Add task
                </button>
                <button class="cancel" v-show="addTask" @click="toggleAddTaskWindow()">Cancel</button>
            </div>
            
        </div>
        <div class="addTask" v-show="addTask">
            <div class="addTaskWrap">
                <textarea cols="30" rows="10" v-model="text"></textarea>
            </div>
        </div>
        <div>
            <span id="error">{{ error }}</span>
        </div>
        <div>
            <preloader v-show="loading"></preloader>
        </div>
        <div v-show="!loading">
            <ul>
                <li v-for="task in tasks" :key="task._id">
                    <task-item :data="task"></task-item>
                </li>
            </ul>
        </div>
    </div>  
</template>
<script>
    import { createNamespacedHelpers } from 'vuex'
    const { mapState, mapActions, mapMutations } = createNamespacedHelpers('task')
    import preloader from './UI/preloader.vue'
    import taskItem from './taskItem.vue'
    export default {
        name: "TaskList",
        components: {
            preloader,
            taskItem
        },
        props: {
            courseID: {
                type: String,
                required: true
            }
        },
        data(){
            return{
                addTask: false,
                text: ''
            }
        },
        computed: {
            ...mapState({error: 'error', loading: "loading", tasks: "tasks"})
        },
        methods: {
            ...mapActions({create: "create", fetchTasks: 'fetchTasks'}),
            ...mapMutations({setTasks: "SET_TASKS"}),
            toggleAddTaskWindow(){
                this.addTask = !this.addTask 
            },
            createTask(){
                if(!this.addTask) return this.toggleAddTaskWindow()
                if(this.text == '') return
                this.create({
                    course: this.courseID,
                    text: this.text
                })

                this.addTask = false
                this.text = ''
            }
        },
        async mounted(){
            this.setTasks([])
            const tasks = await this.fetchTasks(this.courseID)
            this.setTasks(tasks)
        }
    }
</script>
<style scoped>

    .button-row{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 70px;
    }
    .addTaskBtn{
        background: #231F20;
        border-radius: 60px;
        font-size: 14px;
        line-height: 16px;
        display: flex;
        align-items: center;
        text-align: center;
        color: #FFFFFF;
        padding: 15px 35px;
        font-weight: bold;
    }
    .addTask{
        display: flex;
        justify-content: center;
    }
    .addTaskWrap{
        width: 70%;
        border: 0.6px solid #8D8D8D;
        box-sizing: border-box;
        border-radius: 10px;
        padding: 10px;
    }
    .addTask textarea{
        width: 100%;
        border: none;
        outline: none;
    }
    .top-btns{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
        margin-bottom: 20px;

    }
    .cancel{
        text-decoration: underline;
        color: gray;
        font-weight: bold;
        background: none;
    }
</style>