<template>
    <div>
        <div class="date-block">
            <span>{{ task.date.slice(0,10) }} </span>
            </div>
            <div class="task-block">
                <div class="text-block">
                    <p>
                        {{ task.text }} 
                    </p>
                </div>
            </div>
            <button class="pass" @click="toggle()" v-show="!passForm">Pass</button>
            <div class="pass-form" v-show="passForm">
                <form>
                    <textarea cols="10" rows="10" v-model="text"></textarea>
                    <div>
                        <button @click.prevent="submit()" class="go">Go</button>
                        <button @click.prevent="toggle()" class="cancel">Cancel</button>
                    </div>
                    
                </form>
            </div>
    </div>
</template>

<script>
    import { createNamespacedHelpers } from 'vuex'
    const {  mapActions } = createNamespacedHelpers('course')
    export default {
        name: "StudentTaskItem",
        props: ['task', 'course'],
        data(){
            return {
                passForm: false,
                text: ''
            }
        },
        methods: {
            ...mapActions(['pass']),
            toggle(){
                this.passForm = !this.passForm
            },
            async submit(){
                if(this.text == ''){
                    return
                }

                await this.pass({
                    text: this.text,
                    teacher: this.course
                })

                this.passForm = false
                this.text = ''
            }
        }
    }
</script>
<style scoped>
    .date-block{
        margin-bottom: 20px;
        color: rgba(0, 0, 0, 0.61);
    }
    .pass{
        border-radius: 5px;
        background-color: #99BCFF;
        padding: 5px 10px;
        color: #FFF;
    }
    .pass-form{
        margin-top: 20px;
    }
    .pass-form form{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    textarea{
        outline: none;
        border: 1px solid gray;
    }
    .go{
        background-color: #000;
        color: #FFF;
        padding: 4px 15px;
        border-radius: 5px;

    }
    .cancel{
        background: none;
        margin-left: 10px;
        font-weight: bold;
        text-decoration: underline;
        color: gray;
    }
</style>