<template>
    <div class="wrap">
       <div class="date-block">
           <span>{{ data.date.slice(0,10) }} </span>
       </div>
       <div class="task-block">
           <div class="text-block">
               <p>
                   {{ data.text }} 
               </p>
           </div>
       </div>
    </div>  
</template>

<script>
    export default {
        name: "taskItem",
        props: {
            data: {
                required: true
            }
        },
    }
</script>
<style scoped>
    .wrap{
        margin-bottom: 50px;
    }
    .date-block{
        margin-bottom: 20px;
        color: rgba(0, 0, 0, 0.61);
    }
</style>