.form-wrap{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 70%;
}

.form-row input{
    outline: none;
    border: 1px solid #DBDBDB;
    border-radius: 5px;
    width: 100%;
    padding: 10px;
}
.form-row textarea{
    outline: none;
    border: 1px solid #DBDBDB;
    box-sizing: border-box;
    border-radius: 5px;
    width: 635px;
    padding: 10px;
    max-width: 100%;
    min-width: 100%;
    box-sizing: border-box;
    min-height: 50px;
    max-height: 500px;
}
.form-btn{
    background: #99BCFF;
    border-radius: 10px;
    display: inline;
    padding: 9px 68px;
    font-size: 20px;
    line-height: 23px;  
}