.wraper{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}
.form-wrap{
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 30px;
}
.block{
    display: flex;
    padding: 50px;
    border: 1px solid gray;
    /* height: 300px; */
    border-radius: 10px;
}
.form-rows{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.form-row{
    display: flex;
    flex-direction: column;
    width: 300px;
}
.button-wrap{
    display: flex;
    flex-direction: row-reverse;
}
.links-wrap{
    display: flex;
    justify-content: center;
}
a{
    color: gray;
}
