@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700&display=swap');
*{
    box-sizing: border-box;
}
body, html{
    margin: 0;
    padding: 0;
    font-family: "Roboto";
}
textarea{
    font-family: "Roboto";
}
body{
    overflow: hidden;
}
button{
    border: 0;
    outline: none;
    cursor: pointer;
}
h1{
    padding: 20px 0;
}
.big-btn{
    background-color: #000;
    color: #FFF;
    padding: 15px 45px;
    border-radius: 10px;
    font-size: 14px;
}
.litle-btn{
    color: #636568;
    font-size:14px;
    background: none;
}
#error{
    color: red;
    font-weight: bold;
    display: block;
    margin-top: 20px;
}