.wrap{
    --nav-width: 300px;
    --header-height: 55px;
}
.wrap{
    display: flex;
    width: 100%;
}

main{
    width: 100%;
    display: block;
    overflow-x: hidden;
    overflow-y: auto;
}
.header{
    display: flex;
    width: 100%;
    height: 55px;
    background-color: #F0F0F0;
    justify-content: space-between;
    padding:0 20px;
    align-items: center;
    box-sizing: border-box;

}
.add-course-block{
    position: fixed;
    bottom: 20px;
    right: 20px;
}
.add-course-btn{
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    width: 70px;
    height: 70px;
    background: #99BCFF;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}
content{
    display: block;
    width: 100%;
    height: calc( 100vh-var(--header-height) );
    display: flex;
    justify-content: center;

}
.wrap-content{
    width: 900px;
    height: calc(100vh - var(--header-height));
    padding-top: 100px;
}

