<template>
    <div>   
        <h1>Courses list</h1>
        <table class="courceListTable">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Subject</th>
                    <th>Code</th>
                    <th>Description</th>
                    <th>Members</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="course in courses" :key="course._id">
                    <td>{{ course.name }}</td>
                    <td>{{ course.subject }}</td>
                    <td>{{ course.code }}</td>
                    <td>{{ course.description }}</td>
                    <td>1</td>
                    <td>
                        <router-link :to='{name: "CoursePage", params: {ID: course._id }}'>
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="16" height="16" viewBox="0 0 256 256" xml:space="preserve">
                                <g transform="translate(128 128) scale(0.72 0.72)" style="">
                                    <g style="stroke: none; stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: none; fill-rule: nonzero; opacity: 1;" transform="translate(-175.05 -175.05000000000004) scale(3.89 3.89)" >
                                    <path d="M 24.25 90 c -0.896 0 -1.792 -0.342 -2.475 -1.025 c -1.367 -1.366 -1.367 -3.583 0 -4.949 L 60.8 45 L 21.775 5.975 c -1.367 -1.367 -1.367 -3.583 0 -4.95 c 1.367 -1.366 3.583 -1.366 4.95 0 l 41.5 41.5 c 1.367 1.366 1.367 3.583 0 4.949 l -41.5 41.5 C 26.042 89.658 25.146 90 24.25 90 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" />
                                </g>
                                </g>
                            </svg>
                        </router-link>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
    import { createNamespacedHelpers } from 'vuex'
    const { mapState } = createNamespacedHelpers('course')
    export default {
        name: "coursesList",
        computed: {
            ...mapState(['courses']),
        }
    }
</script>
<style scoped>
    .courceListTable {
        width: 100%;
        border: none;
        margin-bottom: 20px;
    }
    .courceListTable thead th {
        font-weight: bold;
        text-align: left;
        border: none;
        padding: 10px 15px;
        background: #d8d8d8;
        font-size: 14px;
    }
    .courceListTable thead tr th:first-child {
        border-radius: 8px 0 0 8px;
    }
    .courceListTable thead tr th:last-child {
        border-radius: 0 8px 8px 0;
    }
    .courceListTable tbody td {
        text-align: left;
        border: none;
        padding: 10px 15px;
        font-size: 14px;
        vertical-align: top;
    }
    .courceListTable tbody tr:nth-child(even){
        background: #f3f3f3;
    }
    .courceListTable tbody tr td:first-child {
        border-radius: 8px 0 0 8px;
    }
    .courceListTable tbody tr td:last-child {
        border-radius: 0 8px 8px 0;
    }
</style>
