<template>
    <div>
        <div class="top-row">
           <div>
               <h1>{{ data.name }}</h1>
               <h2 class="subject">{{ data.subject }}</h2>
           </div>
           <div>
               <h2>{{ data.code }}</h2>
               <span class="subject">code</span>
           </div>
        </div>
        <div class="description">
            <p>
                {{ data.description }}
            </p>
        </div>
        <div class="nav-panel">
            <div class="panel-item" :class="{'panel-item-active': sections.tasks}" @click="changeSection('tasks')"> 
                Tasks
            </div>
            <div class="panel-item" :class="{'panel-item-active': sections.members}" @click="changeSection('members')">
                Members
            </div>
        </div>
        <div class="sections">
            <section v-show="sections.tasks">Tasks</section>
            <section v-show="sections.members">Members</section>
        </div>
    </div>
</template>
<script>
    import { createNamespacedHelpers } from 'vuex'
    const { mapGetters } = createNamespacedHelpers('course')
    export default {
        name: "coursePage",
        data(){
            return{
                sections: {
                    members: false,
                    tasks: true
                }
            }
        },
        computed: {
            ...mapGetters(['getCourseData']),
            data(){
                return this.getCourseData(this.$route.params.ID)
            }
        },
        methods: {
            changeSection(section){
                for (let s in this.sections) {
                    this.sections[s] = false
                }
                this.sections[section] = true
            }
        }

    }
</script>
<style scoped>
    .top-row{
        display: flex;
        justify-content: space-between;
    }
    h1,h2{
        margin: 0;
        padding: 0;
    }
    .subject{
        font-size: 24px;
        line-height: 28px;
        color: rgba(0, 0, 0, 0.53);
        padding-top: 10px;
    }
    .description{
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;

        color: rgba(0, 0, 0, 0.55);
        margin-top: 25px;
    }
    .nav-panel{
        display: flex;
        width: 100%;
    }
    .panel-item{
        width: 50%;
        color: rgba(0, 0, 0, 0.4);
        border-bottom: 1px solid rgba(0, 0, 0, 0.4);
        display: flex;
        justify-content: center;
        cursor: pointer;
    }
    .panel-item-active{
        color: #99BCFF;
        border-bottom: 1px solid #99BCFF;
    }
    .sections{
        margin-top: 50px;
    }
</style>