<template>
    <header class="header">
        <div>
            <div>
                <span>
                    {{ userData.firstName }} {{ userData.lastName }}
                </span>
            </div>
        </div>
        <div>
            <div>
                <div>
                    <button class="big-btn logout-btn" @click="logout()">
                        <span>Logout</span>
                        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M8.75 14H0.583333C0.233333 14 0 13.7667 0 13.4167V0.583333C0 0.233333 0.233333 0 0.583333 0H8.75C9.1 0 9.33333 0.233333 9.33333 0.583333V4.66667C9.33333 5.01667 9.1 5.25 8.75 5.25C8.4 5.25 8.16667 5.01667 8.16667 4.66667V1.16667H1.16667V12.8333H8.16667V9.33333C8.16667 8.98333 8.4 8.75 8.75 8.75C9.1 8.75 9.33333 8.98333 9.33333 9.33333V13.4167C9.33333 13.7667 9.1 14 8.75 14Z" fill="white"/>
                            <path d="M13.4167 7.58332H4.66671C4.31671 7.58332 4.08337 7.34999 4.08337 6.99999C4.08337 6.64999 4.31671 6.41666 4.66671 6.41666H13.4167C13.7667 6.41666 14 6.64999 14 6.99999C14 7.34999 13.7667 7.58332 13.4167 7.58332Z" fill="white"/>
                            <path d="M13.4167 7.58334C13.2417 7.58334 13.125 7.52501 13.0083 7.40834L10.675 5.07501C10.4417 4.84168 10.4417 4.49168 10.675 4.25834C10.9083 4.02501 11.2583 4.02501 11.4917 4.25834L13.825 6.59168C14.0583 6.82501 14.0583 7.17501 13.825 7.40834C13.7083 7.52501 13.5917 7.58334 13.4167 7.58334Z" fill="white"/>
                            <path d="M11.0833 9.91666C10.9083 9.91666 10.7917 9.85832 10.675 9.74166C10.4417 9.50832 10.4417 9.15832 10.675 8.92499L13.0083 6.59166C13.2417 6.35832 13.5917 6.35832 13.825 6.59166C14.0583 6.82499 14.0583 7.17499 13.825 7.40832L11.4917 9.74166C11.375 9.85832 11.2583 9.91666 11.0833 9.91666Z" fill="white"/>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    </header>
</template>
<script>
    import { mapActions } from 'vuex'
    export default{
        name: "appHeader",
        computed: {
            userData(){
                return JSON.parse(localStorage.getItem('userData'))
            }
        },
        methods: {
            ...mapActions(['logout'])
        }
    }
</script>
<style scoped>
.logout-btn{
    padding: 10px 25px;
}
.logout-btn svg{
    margin-left: 5px;
}
</style>