<template>
    <nav class="navigation">
            <div class="nav-block">
                <svg width="179" height="179" viewBox="0 0 129 129" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M8.96362 101.601L15.5666 90.4437L115.47 91.0138L120.325 101.601H8.96362Z" fill="#46A1F8"/>
                        <path d="M47.1095 90.6254L15.5666 90.4437L12.9417 94.8791C17.8282 94.522 39.9176 93.4194 52.3844 101.601H62.0132C59.2254 98.7069 54.245 94.2526 47.1095 90.6254Z" fill="#3084D6"/>
                        <path d="M76.9045 101.601C90.6305 92.5925 116.04 94.8353 117.274 94.9543L115.47 91.0138L81.7973 90.8196C74.8622 94.4155 70.0071 98.757 67.2756 101.601H76.9045Z" fill="#3084D6"/>
                        <path d="M44.729 56.7145L15.5667 81.7608L64.6445 101.601V61.9393L44.729 56.7145Z" fill="#C8C2E9"/>
                        <path d="M84.56 56.7145L64.6445 61.9393V101.601L113.722 81.7608L84.56 56.7145Z" fill="#C8C2E9"/>
                        <path opacity="0.2" d="M67.2757 61.2501L64.8011 61.9017L64.6445 101.864L72.8011 98.2996L67.2757 61.2501Z" fill="#231F20"/>
                        <path opacity="0.2" d="M63.3915 61.6135L64.6445 61.9392V101.601L56.4878 98.2996L63.3915 61.6135Z" fill="#231F20"/>
                        <path d="M81.8913 43.7967C81.8913 34.2179 74.0792 26.4622 64.4816 26.5499C54.884 26.6376 47.2912 34.4873 47.3977 44.0034C47.4419 48.1949 49.0172 52.2256 51.8269 55.3363C55.3539 59.2517 57.3524 64.3074 57.3524 69.5823V69.6136H71.9367V69.5823C71.9318 64.3387 73.8818 59.2817 77.4058 55.3989C80.2974 52.2274 81.8975 48.0885 81.8913 43.7967V43.7967Z" fill="#F4C23F"/>
                        <path d="M57.3085 69.5822H71.9742V75.7592C71.9725 77.7027 71.1997 79.566 69.8255 80.9403C68.4513 82.3145 66.5879 83.0873 64.6445 83.0889V83.0889C62.6988 83.0889 60.8329 82.316 59.4571 80.9403C58.0814 79.5645 57.3085 77.6986 57.3085 75.7529V69.5759V69.5822Z" fill="#4D4C78"/>
                        <path d="M71.9804 74.7694V72.2635H57.3085V74.7694H71.9804Z" fill="#323150"/>
                        <path d="M64.6445 20.1097C64.3122 20.1097 63.9935 19.9777 63.7585 19.7428C63.5235 19.5078 63.3915 19.1891 63.3915 18.8568V11.9656C63.3915 11.6333 63.5235 11.3146 63.7585 11.0796C63.9935 10.8447 64.3122 10.7127 64.6445 10.7127C64.9768 10.7127 65.2954 10.8447 65.5304 11.0796C65.7654 11.3146 65.8974 11.6333 65.8974 11.9656V18.8568C65.8974 19.1891 65.7654 19.5078 65.5304 19.7428C65.2954 19.9777 64.9768 20.1097 64.6445 20.1097Z" fill="#F8881B"/>
                        <path d="M47.1659 27.3517C46.8322 27.3506 46.5125 27.2178 46.2763 26.9821L41.4086 22.1144C41.1735 21.8793 41.0414 21.5605 41.0414 21.228C41.0414 20.8955 41.1735 20.5766 41.4086 20.3415C41.6437 20.1064 41.9626 19.9743 42.2951 19.9743C42.6276 19.9743 42.9464 20.1064 43.1815 20.3415L48.0492 25.2155C48.2234 25.3907 48.3419 25.6135 48.3898 25.8558C48.4377 26.0982 48.4129 26.3493 48.3185 26.5776C48.2241 26.8059 48.0643 27.0012 47.8592 27.1389C47.6541 27.2767 47.4129 27.3507 47.1659 27.3517V27.3517Z" fill="#F8881B"/>
                        <path d="M82.123 27.3517C82.4566 27.3506 82.7764 27.2178 83.0126 26.9821L87.8802 22.1144C88.1153 21.8793 88.2474 21.5605 88.2474 21.228C88.2474 20.8955 88.1153 20.5766 87.8802 20.3415C87.6451 20.1064 87.3263 19.9743 86.9938 19.9743C86.6613 19.9743 86.3424 20.1064 86.1073 20.3415L81.2397 25.2155C81.0655 25.3907 80.947 25.6135 80.8991 25.8558C80.8512 26.0982 80.876 26.3493 80.9704 26.5776C81.0648 26.8059 81.2246 27.0012 81.4296 27.1389C81.6347 27.2767 81.8759 27.3507 82.123 27.3517V27.3517Z" fill="#F8881B"/>
                        <path d="M39.9239 44.8303H33.0327C32.7004 44.8303 32.3817 44.6983 32.1467 44.4633C31.9118 44.2284 31.7798 43.9097 31.7798 43.5774C31.7798 43.2451 31.9118 42.9264 32.1467 42.6914C32.3817 42.4564 32.7004 42.3244 33.0327 42.3244H39.9239C40.2562 42.3244 40.5749 42.4564 40.8098 42.6914C41.0448 42.9264 41.1768 43.2451 41.1768 43.5774C41.1768 43.9097 41.0448 44.2284 40.8098 44.4633C40.5749 44.6983 40.2562 44.8303 39.9239 44.8303V44.8303Z" fill="#F8881B"/>
                        <path d="M96.2562 44.8303H89.365C89.0327 44.8303 88.714 44.6983 88.4791 44.4633C88.2441 44.2284 88.1121 43.9097 88.1121 43.5774C88.1121 43.2451 88.2441 42.9264 88.4791 42.6914C88.714 42.4564 89.0327 42.3244 89.365 42.3244H96.2562C96.5885 42.3244 96.9072 42.4564 97.1422 42.6914C97.3772 42.9264 97.5092 43.2451 97.5092 43.5774C97.5092 43.9097 97.3772 44.2284 97.1422 44.4633C96.9072 44.6983 96.5885 44.8303 96.2562 44.8303V44.8303Z" fill="#F8881B"/>
                        <path d="M73.1958 101.601H56.0931V106.375H73.1958V101.601Z" fill="#323150"/>
                        <path d="M56.0993 101.601H8.96362V106.375H56.0993V101.601Z" fill="#67BAEB"/>
                        <path d="M73.1895 106.375H120.325V101.601H73.1895V106.375Z" fill="#67BAEB"/>
                        <path d="M64.6445 101.601C64.6445 101.601 47.9804 78.7976 15.5667 81.7608L11.9645 91.9346C11.9645 91.9346 43.6577 88.8086 56.0932 101.601H64.6445Z" fill="#4D4C78"/>
                        <path d="M64.6445 101.601C64.6445 101.601 81.3086 78.7976 113.722 81.7608L117.324 91.9346C117.324 91.9346 85.6313 88.8086 73.1958 101.601H64.6445Z" fill="#4D4C78"/>
                        <path d="M64.4816 26.5499C58.4675 26.6063 53.1925 29.7637 50.1479 34.481C50.6052 47.8875 61.0673 58.7568 74.3047 59.8594C75.1379 58.2428 76.1806 56.7431 77.4057 55.3989C80.2973 52.2274 81.8974 48.0885 81.8913 43.7967C81.8913 34.2179 74.0792 26.4622 64.4816 26.5499Z" fill="#FAD564"/>
                        <path d="M88.4287 60.3003C87.5853 59.5514 86.2954 59.6271 85.5477 60.4692C84.7999 61.3114 84.8776 62.6012 85.721 63.3501L92.4254 69.3025C93.2689 70.0513 94.5588 69.9757 95.3065 69.1335C96.0542 68.2914 95.9766 67.0016 95.1331 66.2527L88.4287 60.3003Z" fill="#DFDAFD"/>
                </svg>
                <div class="nav-btns">
                    <button class="big-btn" @click="$router.push({name: 'CreateCourse'})">Create new course</button>
                    <button class="litle-btn" @click="$router.push({name: 'CoursesList'})">Courses list</button>
                </div>
            </div>
        </nav>
</template>
<script>
    export default{
        name: 'appNavigation'
    }
</script>
<style scoped>
    .navigation{
        display: flex;
        background-color: #F8F8F8;
        width: var(--nav-width);
        height: 100vh;
        justify-content: center;
        padding-top: 20px;
    }
    .nav-btns{
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 10px;
    }
    .nav-block{
        display: flex;
        flex-direction: column;
        align-items: center;

    }
</style>
