<template>
    <div class="wrap">
            <button class="add-course-btn" @click="$router.push({name: 'CreateCourse'})">
                <svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M17 0.200012V33.8" stroke="black" stroke-width="3"/>
                    <path d="M33.8 17L0.200047 17" stroke="black" stroke-width="3"/>
                </svg>  
            </button>
        <app-navigation></app-navigation>
        <main>
            <app-header></app-header>
            <content>
                <div class="wrap-content">
                    <router-view></router-view>
                </div>
            </content>
        </main>
    </div>

</template>
<script>
    import { mapMutations } from 'vuex'
    import AppHeader from '../components/TheHeader.vue'
    import appNavigation from '../components/TheNavigation.vue'
    export default{
        components:{
            AppHeader,
            appNavigation
        },
        methods: {
            ...mapMutations({setUserData: 'SET_USER_DATA'})
        },
        mounted(){
            const userData = JSON.parse(localStorage.getItem('userData'))

            this.setUserData(userData)
        }
    }
</script>
<style scoped src="@/assets/styles/main.css"></style>