<template>
    <div class="wraper">
        <div class="block">
            <form @submit.prevent="submit()">
                <h2>Login</h2>
                <div class="form-wrap">
                    <div class="form-rows">
                        <div class="form-row">
                            <label for="login" class="form-label">Login</label>
                            <input type="text" v-model="loginInput" id="login" autocomplete="off" class="form-control" placeholder="Login" required>
                        </div>
                        <div class="form-row">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" v-model="passwordInput" id="password" autocomplete="off" class="form-control" placeholder="Password" required>
                            <span id="error">{{ error }}</span>
                        </div>
                    </div>
                    <div>
                        <div class="button-wrap">
                            <button type="submit" class="btn btn-primary" id="login-btn">Login</button>
                        </div>
                        <div class="links-wrap">
                            <router-link :to="{ name: 'Register' }">Register</router-link>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</template>
<script>
    import 'bootstrap/dist/css/bootstrap.css'
    import { mapActions } from 'vuex'
    export default{
        data(){
            return{
                loginInput: '',
                passwordInput: '',
                error: ''
            }
        },
        methods: {
            ...mapActions(['login']),
            async submit(){
                const response = await this.login({login: this.loginInput, password: this.passwordInput})

                if(response.message){
                    return this.error = response.message
                }

                localStorage.setItem('token', response.accessToken)
                localStorage.setItem('userData', JSON.stringify(response.user))
                window.location.reload()
            }
        },
    }
</script>
<style scoped src="@/assets/styles/forms.css"></style>