<template>
    <div class="wraper">
        <div class="block">
            <form @submit.prevent="submit()">
                <h2>Registration</h2>
                <div class="form-wrap">
                    <div class="form-rows">
                        <div class="form-row">
                            <label for="login" class="form-label">Login</label>
                            <input type="text" id="login" v-model="login" autocomplete="off"  class="form-control" placeholder="Login" required>
                        </div>
                        <div class="form-row">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" v-model="password" id="password" autocomplete="off" class="form-control" placeholder="Password" required>
                        </div>
                        <div class="form-row">
                            <label for="ConfirmPassword" class="form-label">Confirm password</label>
                            <input type="password" v-model="confirmPassword" id="ConfirmPassword" autocomplete="off" class="form-control" placeholder="Confirm password" required>
                        </div>
                        <div class="form-row">
                            <label for="firstName" class="form-label">Fitst name</label>
                            <input type="text" v-model="firstName" id="firstName" autocomplete="off" class="form-control" placeholder="Fitst name" required>
                        </div>
                        <div class="form-row">
                            <label for="lastName" class="form-label">Last name</label>
                            <input type="text" v-model="lastName" id="lastName" autocomplete="off" class="form-control" placeholder="Last name" required>
                        </div>
                        <div class="form-row">
                            <label for="Role" class="form-label">Role</label>
                            <select class="form-select" v-model="role" aria-label="Default select example" id="role">
                                <option selected>Student</option>
                                <option>Teacher</option>
                            </select>
                            <span id="error">{{ error }}</span>
                        </div>
                    </div>
            
                    <div>
                        <div class="button-wrap">
                            <button type="submit" class="btn btn-primary" id="registerBtn">Register</button>
                        </div>
                        <div class="links-wrap">
                            <router-link :to="{ name: 'Login' }">Login</router-link>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</template>
<script>
    import { mapActions } from 'vuex'
    export default{
        data(){
            return{
                login: '',
                password: '',
                confirmPassword: '',
                firstName: '',
                lastName: '',
                role: 'Student',
                error: ''
            }
        },
        methods: {
            ...mapActions(['register']),
            async submit(){
                if(this.login.length < 3 || this.login.length > 16){
                   return this.error = "Incorrect login length"
                }
                if(this.password.length < 6 || this.login.length > 36){
                    return this.error = "Incorrect password length"
                }
                if(this.password != this.confirmPassword){
                   return this.error = "Passwords must match" 
                }
                const response = await this.register({
                    login: this.login,
                    password: this.password,
                    firstName: this.firstName,
                    lastName: this.lastName,
                    role: this.role
                })
                if(response.message){
                    return this.error = response.message
                }
                localStorage.setItem('token', response.accessToken)
                localStorage.setItem('userData', JSON.stringify(response.user))
                window.location.reload()
            }
        }
    }
</script>
<style scoped src="@/assets/styles/forms.css"></style>
